<div class="container">
  <br/>
  <h1><i>Here you can send us e-mail</i></h1>
    <p><i>suggestions, complaints, gratitudes - send us everything you want</i></p>
  <hr/>
  <br/>

    <form action="/contact" method="POST" role="form">

        <% if @message && @message.errors.any? %>  
          <ul>
            <% @message.errors.full_messages.uniq!.each do |msg| %>
              <li  style='color:#FF0000'><%= msg %></li>
            <% end %>
          </ul>
        <% end %>

      <div class="form-group">
        <!-- <label>Message text</label> -->
        <textarea name="message[msgbody]" type="text" class="form-control" placeholder="Message text" style="width: 500px" rows="4"></textarea>
      </div>

      <div class="form-inline">
        <!-- <div class="form-group" > -->
          <!-- <label>Email: </label> -->
          <input name="message[email]" type="text" class="form-control  mr-1" placeholder="Email" style="width: 400px">
        <!-- </div> -->
        <button type="submit" class="btn btn-primary btn-lg" style="width: 100px" onclick="alert_message()">Send</button>
      </div>



    </form>
</div>