<!DOCTYPE html>
<html>
	<body>

		<header>
			<h1><i>Here you can send us e-mail</i></h1>
		    <p><i>suggestions, complaints, gratitudes - send us everything you want</i></p>
		  <hr/>
  		<br>
		</header>

		<main>

	    <form action="/contact" method="POST" role="form" style="max-width: 100%">

	        <% if @message && @message.errors.any? %>
	        <p><b>Above fields aren't correct:</b></p>
	          <ul>
	            <% @message.errors.full_messages.uniq.each do |msg| %>
	              <li  style='color:#FF0000'><%= msg %></li>
	            <% end %>
	          </ul>
	        <% end %>

		    <div class="form-group">
		      <textarea name="message[msgbody]" type="text" class="form-control" placeholder="message text" style="width: 100%" rows="4"></textarea>
		    </div>

		    <div class="d-flex justify-content-end" class="form-inline">
					<div class="col-5 mx-0 pr-1">
	        	<input name="message[email]" type="text" class="form-control  mr-1" placeholder="type email for further reply" style="width: 100%" />
	      	</div>
		      <button type="submit" class="btn btn-primary" onclick="alert_message()">Send message</button>
		    </div>

	  	</form>
			
		</main>

	</body>
</html>
