<!DOCTYPE html>
<html>
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- My styles -->
		<link  rel="stylesheet" href="mystyles.css">
			<!-- Jquery -->
		<script src="jquery-3.4.1.min.js"></script>

		<style>
			body, html {
		  height: 100%;
		  width: 100%;
		  background-color:#282828;
		}
		</style>
	</head>

	<body class="img_cover">
	  <div class="btn_caption">
	    <span class="btn_caption">
	      <a class="btn btn-sm" href="/main" role="button">Start shopping</a>
	    </span>
	  </div>
	</body>

</html>
