<!DOCTYPE html>
<html>
	<body>

		<header>
			<h1><i>Information page</i></h1>
			<hr/>
		</header>

		<section>
			<p>This project finally updated an deployed in September 2019.</p>
			<p>It is based on materials learned through RubySchcool programming course (rubyschool.us).</p>
			<p>With all questions, please refer to <a href="mailto:#" <b>venberg.dev@gmail.com</b></a></p>
				<br>
		</section>

		<section>
			<p>Main software stack used:</p>
				<ul>
					<li>Ruby 2.5.3</li>
					<li>Sinatra gem 2.0.5, with ActionView & ActiveRecord</li>
					<li>Database: PostgreSQL 10.6 (gem pg 1.1.4)</li>
					<li>Bootstrap 4.3.1, CSS 3</li>
					<li>Jquery 3.4.1, JavaScript</li>
					<li>OS: Fedora 30 WS</li>
				</ul>
					<br>
		</section>

		<section>
			<p>All used images distributed under free-using licence, and downloaded from sources:</p>
				<ul>
					<li><a href="https://www.pexels.com/">https://www.pexels.com/</a></li>
					<li><a href="https://unsplash.com/">https://unsplash.com/</a></li>
				</ul>
		</section>



	</body>
</html>
