	<br/>
<h1><i>Information page</i></h1>
	<hr/>

	<p>Project created by materials learned through RubySchcool Course (rubyschool.us).</p>
	<p>Finally updated an deployed in 2019, - by <a href="https://github.com/ks1venberg">ks1venberg</a></p>
	<p>With all questions, please refer to <b>venberg.dev@gmail.com</b></p>
		<br/>
		<br/>

	<p>	All used images distributed under free-using licence, and downloaded from sources:</p>
		<ul>
			<li><a href="https://www.pexels.com/">https://www.pexels.com/</a></li>
			<li><a href="https://unsplash.com/">https://unsplash.com/</a></li>
		</ul>

	<p>	Main software stack used:</p>
		<ul>
			<li>Ruby 2.5.3</li>
			<li>Sinatra gem 2.0.5, with ActionView & ActiveRecord</li>
			<li>PostgreSQL 10.6 (gem pg 1.1.4)</li>
			<li>Bootstrap 4.3.1 with: Jquery, JS, CSS</li>
			<li>OS: Ubuntu 18.04 lts</li>
		</ul>